<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<h1>Scroll down to see paired plates and their data</h1>

<table class="table" style="width:80%;margin-left:10%;">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Pair plate id</th>
            <th scope="col">Unique plate ID</th>

            
            
            
          </tr>
        </thead>


        <tbody>
        
                <% for (var i = 0; i < testing.length; i++) { %>
                    <tr class="timeline"></tr>
                    <td class="timeline-yellow">
                        
                    <a href= "/plate"><%= testing[i].id %></a>  
                        
                    </td>   
                   
                <td class="timeline-yellow">
                    <div class="timeline-time">
                        <span style="text-align:left">
                      <a href= ""><%= testing[i].plate_pair_id %></a>  
                        </span>
                       
                    </div>
                </td>

                <td class="timeline-yellow">
                        <div class="timeline-time">
                            <span style="text-align:left">
                                    <%= testing[i].unique_plate_id %> 
                            </span>
                           
                        </div>
                </td>

            

                

                

                
            </tr>
                <br>
                <% } %>
        
          
        </tbody>
      </table>
